h1:hover:nth-child(2) {
  color: #000;
  animation: glitch2 2.5s infinite;
}

h1:hover:nth-child(3) {
  color: #9a6ff1;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: skew(0.4deg, 1deg);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
  }
  7% {
    transform: translate(-2px, -3px);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: translate(-5px, -2px);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: translate(-5px, -1px);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: translate(-2px, -6px);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
  }
  7% {
    transform: translate(2px, 3px);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: translate(5px, 2px);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: translate(5px, 1px);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: translate(2px, 6px);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
